body{
  background: #adadad;
}
.app-conatiner{
  background: #fff;
  margin: 40px;
}
.campaign-element-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
}
.selected-campaign{
  background: #DCF3F9;
}
.campaign-element-name{
  width: 50%;
  display: flex;
  align-items: center;
}
.campaign-element-tools-panel{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.campaign-element-tools-panel > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.campaign-element-tools-panel > div > span{
  color: #aaa;
}
.selected-campaign .campaign-element-tools-panel > div > span.glyphicon-pause, .selected-campaign .campaign-element-tools-panel > div > span.glyphicon-play{
  color: yellow;
}
.selected-campaign .campaign-element-tools-panel > div > span.glyphicon-trash{
  color: red;
}
.selected-campaign .campaign-element-tools-panel > div > span.glyphicon-edit, .selected-campaign .campaign-element-tools-panel > div > span.glyphicon-pencil{
  color: #00AADB;
}
.campaign-list-container{
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #eee;
}
.campaign-elements{
  min-width: 70%;
  width: 100%;
}
.campaign-history-container{
  width: 30%;
  border-left: 1px solid #eee;
  padding: 20px 20px 20px 60px;
}
.campaign-serial-num{
  padding: 5px 10px;
  background: #eee;
  color: #00AADB;
  border-radius: 50%;
  font-size: 12px;
}
.campaign-info{
  margin-left: 20px;
}
.camapign-name{
  font-size: 20px;
  font-weight: 600;
  color: #a8a8a8;
}
.campaign-created{
  font-size: 10px;
  color: #aaa;
}
.line-through{
  text-decoration: line-through;
}
.campaign-tool-text{
  display: none;
  font-size: 10px;
  color: #aaa;
  padding-top: 5px;
}
.selected-campaign .campaign-tool-text{
  display: block;
}
.selected-campaign .campaign-serial-num{
  color: #fff;
  background: #00AADB;
}
.create-button{
  margin-left: 20px;
  padding: 5px 15px;
  background: #00AADB;
  border: 0;
  color: #fff;
  border-radius: 2px;
}
.campaign-history-heading{
  position: relative;
  font-size: 20px;
  color: #a8a8a8;
}
.campaign-history-name{
  font-size: 16px;
  font-weight: bold;
}
.campaign-history-element{
  font-size: 12px;
  margin-top: 30px;
  color: #a8a8a8;
  position: relative;
}
.camapign-timeline-container{
  margin-top: 50px;
  border-left: 1px dotted #ccc;
  padding-left: 40px;
}
.campaign-history-username{
  color: #00AADB;
}
.campaign-header{
  padding: 10px 30px;
  font-size: 14px;
}
.campaign-header .glyphicon-envelope{
  color: #00AADB;
}
.campaign-header-heading{
  padding-left: 10px;
}
.campaign-list-text{
  padding-left: 10px;
}
.campaign-list-header{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.campaign-list-header button{
  margin-left: 20px;
  padding: 5px 15px;
  background: #00AADB;
  border: 0;
  color: #fff;
  border-radius: 2px;
}
.campaign-history-timeline-icon{
  position: absolute;
  top: 0;
  left: -52px;
  padding: 5px;
  border-radius: 50%;
}
.campaign-history-heading-icon{
  position: absolute;
  top: 0;
  left: -35px;
  padding: 5px;
  color: #a8a8a8;
}
.campaign-history-timeline-icon{
  background: #00AADB;
  color: #fff;
}
.campaign-history-timeline-icon.glyphicon-plus{
  background: grey;
}
.campaign-history-timeline-icon.glyphicon-play, .campaign-history-timeline-icon.glyphicon-pause{
  background: yellow;
}